:root, [data-mode='light'] {
    --color: black;
    --primary-background-color: white;
    --secondary-background-color: #f6f8fa;
    --primary-border-color: #d0d7de;
    --secondary-border-color: #d8dee4;
}

[data-mode='dark'] {
    --color: white;
    --primary-background-color: #0d1117;
    --secondary-background-color: #010409;
    --primary-border-color: #30363d;
    --secondary-border-color: #2f353c;
}

body {
    color: var(--color);
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
}

img {
    display: block;
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    width: 30px;
    height: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-background-color);
    border-bottom: 2px solid var(--secondary-border-color);
}

#headerLeft, #headerRight {
    display: flex;
    align-items: center;
}

header .logo {
    margin: 10px;
}

h1 {
    margin: 0 10px 0 0;
}

header button {
    background-color: transparent;
    border-width: 0;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: inherit;
    cursor: pointer;
    margin: 0 0 0 auto;
}

#langList {
    display: none;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 20px;
    background-color: var(--secondary-background-color);
}

.lang {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

.lang.selected {
    font-weight: bold;
    pointer-events: none;
}

.lang:hover {
    font-weight: bold;
}

[data-mode='light'] header #buttonMode:hover {
    color: white;
    background-color: #010409;
}

[data-mode='dark'] header #buttonMode:hover {
    color: black;
    background-color: #f6f8fa;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-background-color);
    border-top: 2px solid var(--secondary-border-color);
    margin-top: auto;
}

footer a {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

footer img {
    margin-right: 10px;
}

.copyright {
    display: flex;
    align-items: center;
}

#content {
    padding-top: 52px;
    /* height: 100%; */
    display: flex;
    /* background-color: red; */
    
}

.projectsType {
    width: 50%;
}

.projectsType:first-of-type {
    border-right: 1px solid var(--primary-border-color);
}

.projectsType:last-of-type {
    border-left: 1px solid var(--primary-border-color);
}

h2 {
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--primary-border-color);
}




.projectsType img {
    width: 180px;
    height: 180px;
}


.project {
    width: 100%;
    /* height: 200px; */
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--primary-border-color);
    display: flex;
}


h3 {
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

.projectText{
    height: 80px;
    /* background-color: yellow; */
}

.projectLangs {
    height: 50px;
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.projectLang {
    padding: 5px;
    margin: 5px;
    color: black;
}

.langHTML {
    background-color: #e34c26;
}

.langCSS {
    background-color: #563d7c;
}

.langJS {
    background-color: #f1e05a;
}

.langPHP {
    background-color: #4f5d95;
}

.langOther {
    background-color: #ededed;
}


@media all and (max-width: 1200px) {

    h1 {
        width: min-content;
        height: 50px;
        line-height: 24px;
        padding: 2px 0;
        box-sizing: border-box;
    }

    .copyright>span {
        width: min-content;
    }

    #content {
        flex-direction: column;
	}

    .projectsType {
        width: 100%;
    }

    .projectsType:first-of-type {
        border-right: 0 solid var(--primary-border-color);
    }
    
    .projectsType:last-of-type {
        border-left: 0 solid var(--primary-border-color);
    }

    

}








