:root, [data-theme='light'] {
    --color: black;
    --main-background-color: white;
    --secondary-background-color: #f6f8fa;
    --main-border-color: #d0d7de;
    --secondary-border-color: #d8dee4;
}

[data-theme='dark'] {
    --color: white;
    --main-background-color: #0d1117;
    --secondary-background-color: #010409;
    --main-border-color: #30363d;
    --secondary-border-color: #2f353c;
}

body {
    color: var(--color);
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
}

img {
    display: block;
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-background-color);
    border-bottom: 2px solid var(--secondary-border-color);
}

header>img {
    margin: 0 10px;
}

h1 {
    margin: 0 10px 0 0;
}

header>button {
    background-color: transparent;
    border-width: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    color: inherit;
    cursor: pointer;
    margin: 0 10px 0 auto;
}

[data-theme='light'] header>button:hover {
    color: white;
    background-color: #010409;
}

[data-theme='dark'] header>button:hover {
    color: black;
    background-color: #f6f8fa;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-background-color);
    border-top: 2px solid var(--secondary-border-color);
    margin-top: auto;
}

footer a {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

svg {
    width: 30px;
    height: 30px;
}

footer img {
    margin-right: 10px;
}

.copyright {
    display: flex;
    align-items: center;
}

#content {
    padding-top: 52px;
    /* height: 100%; */
    /* background-color: red; */
    
}


